
<mat-card >
  <mat-card-content>
    <mat-toolbar color= primary>
      <span>Detalhes da  Ficha Técnica</span>
    </mat-toolbar>

      <form [formGroup]="form" class="min-width">
        <mat-form-field class="full-width ">
          <input matInput placeholder="Nome Produto" formControlName="nome_insumo" #nome_insumo>
          <mat-hint align="end">{{   nome_insumo.value?.length || 0 }}/100</mat-hint>
          <mat-error *ngIf="form.get('nome_insumo')?.invalid">{{ getErrorMessage('nome_insumo') }}</mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <mat-label>Escolha a Marca</mat-label>
            <mat-select formControlName="marca_insumo" >
              <mat-option value="null"></mat-option>
              <mat-option value="FE">Fe</mat-option>
              <mat-option value="BE">Be</mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('marca_insumo')?.invalid">{{ getErrorMessage('marca_insumo') }}</mat-error>
          </mat-form-field>
          <mat-toolbar class="listaProd">
            <span> Lista de Produtos </span>
            <button mat-icon-button color="accent" (click)="addNewProduct()">
              <mat-icon aria-label="Adicionar um novo produto">add</mat-icon></button>
          </mat-toolbar>


          <mat-error class="form-array-error" *ngIf="isFormArrayRequired()">
              Adicione ao menos um produto
          </mat-error>

          <table
          style="width: 100%"
          formArrayName="produtos"
          *ngFor="let produto of getProdutosFormArray(); let i = index"
          >
            <tr [formGroupName]="i">
                <td style="width: 65%">
                   <mat-form-field class="full-width">
                      <mat-label>Nome do Produto</mat-label>
                    <input matInput  formControlName="nomeProduto" #nomeProduto/>
                    <mat-error *ngIf="getProdutosFormArray()[i].get('nomeProduto')?.invalid">Campo Inválido</mat-error>
                    </mat-form-field>
                </td>
                <td style="width: 65%">
                  <mat-form-field class="full-width">
                    <mat-label>Marca Produto</mat-label>
                  <input matInput  formControlName="marcaProduto" #nomeProduto/>
                  </mat-form-field>
                </td>
                <td>
                  <button mat-icon-button color="warn" (click)="removeProduct(i)">
                    <mat-icon aria-label="Remover o produto" >delete</mat-icon>
                  </button>
                </td>
            </tr>
          </table>


      </form>

  </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onSubmit()">SALVAR</button>

      <button mat-raised-button (click)="onCancel()">CANCELAR</button>
    </mat-card-actions>

</mat-card>
